[submodule "picopocket-hw"]
	path = picopocket-hw
	url = https://github.com/korneliuszo/picopocket-hw/
[submodule "lib/picow-http"]
	path = lib/picow-http
	url = https://gitlab.com/korneliuszo/picow_http.git
[submodule "lib/snappy"]
	path = lib/snappy
	url = https://github.com/google/snappy.git
[submodule "or/config/tui/dflat20"]
	path = or/config/tui/dflat20
	url = https://github.com/korneliuszo/dflat20.git
